*{
  /* corrigindo comportamento padrão css */
  box-sizing: border-box;
}

/* Facebook */
#fbcontainer {
  max-width: 1024px;
  min-height: 1024px;

  background: #F2F2F2;

  text-align: center;
}

/* Rectangle */
#headctangle {
  max-width: 1024px;
  height: 64px;
  left: 0px;
  top: 0px;
  margin-bottom: 5px;
  padding: 0 50px;

  background: #4A90E2;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

#headctangle img {
  width: 120px;
}

#headctangle div {
  display: flex;
  align-items: center;
  justify-content: center;
}

#headctangle div span {
  font-family: Helvetica, sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #FFF;
  margin-right: 5px;
}

.post-list {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.post {
  max-width: 700px;
  margin: 10px 16%;

  background: #FFFFFF;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.133916);
  border-radius: 4px;

  font-family: Helvetica, sans-serif;

} 

.post-info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 20px 20px;
}

.post-info div {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.post .post-info img {
  height: 30px;
  border-radius: 50%;
}

.post-info div .username {
  font-weight: 600;
  color: #4A4A4A;
}
.post-info div .postdate {
  font-size: 11px;
  color: #9A9A9A;
}

.post .content {
  margin: 30px 20px;
  font-size: 14px;
}

.post .content p {
  text-align: left;
  color: #3E3E3E;
}

.separator {
  max-width: 660px;
  height: 1px;
  border: 1px thin;
  border-color: #979797;
  background: #EEEEEE;
  margin: 10px 10px;
}

.post .comment {
  margin: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.post .comment img {
  height: 25px;
  border-radius: 50%;
}

.post .comment .comment-content {
  margin-left: 10px;
  padding: 10px 15px;
  width: 622px;
  border-radius: 20px;
  background: #EEEEEE;
  font-size: 13px;
  text-align: left;
  color: #3E3E3E;
}

.post .comment .comment-content span {
  font-weight: 600;
}